<div class="flex-column action-panel">
    <button class="icon-btn" id="export-state" title="Save universe state">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAACLElEQVRoge2ZP0scQRjGZ8Q0QfQIKv6phRT5EjbpJGqhnVb6GcTPcJ9BawNCmoCIRYz/MCiKIioIFjaCIKJyaOPPwveSzbp7NzuzOy4yP1gOlnmf93nmZnaHO6UCgYAzwCTwiH8egQkTj9ogRJ9S6kgpVXGdEEtulVJftNYXTirAD5mdxXx8Zeq9KL1/ugqNi9AN0J+Tvyz9e4Br8TBmK/IJuBSRqZw9ZvExLR6ugE4bgXkR+AU03UtFAWhgRbzMZS0eBJ6AB+BzQR6z+BkAahLmq2nRR+BMimYK9mgMMCuezoE2k4KqFOwBrR48GgF8APbFW9WkoP4V2rJm0GPDsUctrvlqEwMYT1M67Vrru5QQHUqpG9cGWuvGD6B6ZBtx4LuUDzcYMypjFix7mPlzDPJNyk+AV0caoAKcypghyx5egmhgORJmBGiXazQSYgnLd5OXIFJfAdYabNTfsk9s9f0EEY1WXo4WW8C9XJvAFI6PdK9BiiTNX8tbmCmCEMQUYBvYKrpPUuNc94gvvbC0ykYIUjZCkLIRgsSRU+0O0G0wtlsOkat59U9qYvUCA/5I6WE0TFxPQhzK7e3C/DkE6QIOpPwY6I3rJYzpKV2QFKO9/MM5RCZ/rmej2NKpfxK713QfOftzDSIa0dmP8nfJOWj7CyI68TDOITL5yyuIaHXx8kjedVlOMU3/QYogzV94s5eNdxMk9ceyMu+TJJK+kXXvLrLT9D+YQCDwP89jvXDT8mcr+QAAAABJRU5ErkJggg==">
    </button>
    <button class="icon-btn" id="export-recording" title="Record simulation sequence">
        <div class="record-icon"></div>
    </button>
</div>