<div>
    <div class="dialog-caption">
        Record settings
    </div>
    <div class="settings-base record-settings">
        <div>Recording framerate:</div>
        <select id="framerate-select"></select>
        <div>Duration:</div>
        <select id="duration-select"></select>
        <div>Timelapse:</div>
        <input type="checkbox" id="timelapse-check">
        <div>Reference framerate:</div>
        <div id="reference-framerate"></div>
        <div>Frame calc. time:</div>
        <div id="frame-time"></div>
        <div>Frame size:</div>
        <div id="frame-size"></div>
        <div>Frame count:</div>
        <div id="frame-count"></div>
        <div>Total size:</div>
        <div id="total-size"></div>
        <div>Est. recording time:</div>
        <div id="total-duration"></div>
    </div>
    <div class="dialog-actions">
        <button class="dialog-close">Cancel</button>
        <button class="record-button" id="start-record">Record</button>
    </div>
</div>