<div class="settings">
    <div>Playback speed:</div>
    <select id="speed-select"></select>

    <div>Target playback:</div>
    <div id="playback-pacing">Waiting for recording</div>

    <div>Render statistics:</div>
    <input id="render_stats_checkbox" type="checkbox">

    <div>Fixed particle size:</div>
    <input id="fixed_size_checkbox" type="checkbox">

    <div>Particle size scale:</div>
    <select id="particle_scale_select"></select>

    <div>Particle sprite:</div>
    <select id="particle_sprite_select"></select>

    <div>Color mode:</div>
    <select id="color_mode_select"></select>

    <div id="fixed_color_label">Fixed color:</div>
    <input id="fixed_color_input" type="color">
</div>
