.control-bar {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2rem;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.control-bar button {
    min-height: auto;
    height: auto;
    box-sizing: border-box;
    border: none;
    margin: 4px;
    padding: 0;
}

.control-bar button img {
    height: 100%;
    box-sizing: border-box;
    padding: 4px;
    pointer-events: none;
}

.progress-bar {
    flex-grow: 1;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 8px 0;
}

.progress-bar:focus {
    outline: none;
}

.progress-bar:focus .progress-container {
    outline: none;
    border: 1px solid rgba(42, 78, 141, 0.5);
}

.progress-bar .progress-container {
    pointer-events: none;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: 1px solid rgba(120, 120, 120, 0.5);
}

.progress-bar .progress {
    --value: 0;

    width: calc(100% * var(--value));
    height: 100%;
    background: rgba(41, 127, 255, 0.5);
}

.loading-status {
    margin-top: 20px;
    font-size: 1.5em;
    color: rgb(165, 165, 165);
}

.settings {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 2em;
    gap: 10px 8px;
    padding: 10px;
    background: #1f1f1f;
    color: white;
    align-items: center;
    justify-items: stretch;
}

.settings select {
    background: transparent;
    color: white;
    user-select: none;
    outline: none;
    height: 1.5em;
    border: none;
    margin-top: 2px;
}